.home {
    text-align: center;

    > .home-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 100vh;

        color: var(--txt-clr);
        font-size: calc(10px + 2vmin);
        font-family: Lora-Semi-Bold-Italic, 'Open Sans', sans-serif;

        background-color: var(--background-clr);

        > p {
            color: var(--txt-clr);
            font-family: Lora-Medium-Italic, 'Open Sans', sans-serif;
        }
    }
}
