@import '../../global';

.projects {
    scroll-snap-align: start;

    display: grid;
    grid-template-columns: 0.3fr repeat(2, 1fr);
    gap: 10px;

    height: 100dvh;
    padding-bottom: 2%;
    @extend %layout-box-model;

    @media (width < 600px) {
        grid-auto-rows: 100%;
        grid-auto-flow: row;
        grid-template-columns: 0.3fr 1fr;
    }

    img {
        border: 2px solid var(--primary);
    }

    .project-list-img {
        width: 100px;
        height: 100px;

        border-radius: 5px;

        object-fit: cover;
    }

    > div.project-list {
        height: 100%;

        // max-height: 100%;

        border: 1px solid var(--primary);

        outline: 2px solid lime;

        overflow: hidden;

        border-block: 0;

        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-mask: linear-gradient(0deg, transparent, #060000 20%, #060000 80%, transparent);

        mask: linear-gradient(0deg, transparent, #060000 20%, #060000 80%, transparent);

        // overflow: hidden;
        > ul {
            // display: flex;
            // flex-direction: column;

            height: max-content;
            padding: 0 10px;

            animation: scroll 5s linear infinite;

            @keyframes scroll {
                to {
                    transform: translateY(calc((-50%)));
                }
            }

            > li {
                // height: 25%;
                height: 250px;
                margin: 10px 0;

                & :hover {
                    cursor: pointer;
                }

                > button {
                    width: 100%;
                    height: 100%;

                    border: none;

                    background-color: transparent;

                    &.active {
                        img {
                            border: 5px solid var(--primary);
                        }
                    }

                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    > div.project-preview {
        display: grid;
        grid-template:
            'position-indicator .' minmax(0, 0.2fr)
            'first second' minmax(0, 1fr)
            'first third' minmax(0, 1fr)
            'slideshow-postion-indicator slideshow-postion-indicator' minmax(0, 0.3fr) / minmax(0, 1fr) minmax(0, 0.5fr);
        gap: 10px;

        min-height: 0;
        padding: 10% 0;

        // overflow: hidden;

        @media (width < 500px) {
            display: none;
        }

        > div.position-indicator {
            grid-area: position-indicator;

            cursor: default;

            &::after {
                content: '';

                display: block;

                width: 20px;
                height: 5px;

                background-color: var(--primary);
            }
        }

        > div.slideshow-postion-indicator {
            grid-area: slideshow-postion-indicator;

            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            justify-content: space-around;
            align-items: center;

            > button {
                width: 100%;
                height: 10px;

                border: 1px solid var(--primary);
                border-radius: 2px;

                background-color: transparent;

                cursor: pointer;

                &.active {
                    background: var(--primary);
                }
            }
        }

        > .project-img-first {
            grid-area: first;

            > img {
                width: 100%;
                height: 100%;

                border-radius: 5px;

                object-fit: contain;
            }
        }

        > .project-img-second {
            grid-area: second;

            > img {
                width: 100%;
                height: 100%;

                border-radius: 5px;

                object-fit: cover;
                object-position: left;
            }
        }

        > .project-img-third {
            grid-area: third;

            > img {
                width: 100%;
                height: 100%;

                border-radius: 5px;

                object-fit: cover;
                object-position: right;
            }
        }
    }

    > div.project-description {
        position: relative;

        display: grid;
        place-content: center;

        width: 80%;
        height: 80%;
        margin: auto;

        font-family: Lora-Italic, 'Open Sans', sans-serif;

        > div.section-title {
            position: absolute;
            top: 30px;
            left: -30%;

            color: var(--primary);
            font-size: 2rem;
            font-family: Lora-Medium, 'Open Sans', sans-serif;
            text-transform: uppercase;

            filter: drop-shadow(-2px 4px 6px black);

            @media (width < 500px) {
                display: none;
            }

            &::first-letter {
                color: var(--section-title-txt-clr);
                font-size: 150%;
            }
        }

        > p {
            font-size: 1rem;
            font-family: Lora-Italic, 'Open Sans', sans-serif;

            // overflow-y: scroll;
        }
    }
}
