@import '../../global';

.hero-banner {
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));

    height: 100dvh;

    text-align: center;
    scroll-snap-align: start;

    @extend %layout-box-model;

    > * {
        text-align: left;
    }

    > div.intro-head {
        position: relative;

        padding: 5rem;
        @media (width < 500px) {
            margin: auto 0;
            padding: 0 0.5rem;
        }

        > p.name-sentence {
            color: var(--hl-txt-clr);
            font-size: 2rem;
            font-family: Lora-Medium-Italic, 'Open Sans', sans-serif;
        }

        > p.name {
            position: relative;

            font-size: 4rem;
            font-family: Lora-Semi-Bold, 'Open Sans', sans-serif;

            &::after {
                position: absolute;
                left: 0;
                bottom: -0.5rem;
                content: '';
                z-index: 999;

                width: 10%;
                height: 0.5rem;

                background-color: var(--hl-clr);
            }
        }

        .boy-animi {
            position: absolute;
            inset: auto 0 0 auto;
            z-index: 99999;

            margin-left: auto;
            @media (width < 720px) {
                display: none;
            }
        }
    }

    > div.intro-content {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 0 5rem;

        @media (width < 500px) {
            padding: 0 0.5rem;
        }

        > .intro-bar {
            height: 100%;
            margin-block: 20px;

            background-color: rgb(237 125 49 / 80%);

            // box-shadow: 0 8px 15px rgb(0 0 0 / 10%);

            transform: rotate3d(1, 1, 1, 359deg);

            clip-path: polygon(22% 72%, 100% 100%, 25% 100%, 0 100%, 28% 0);

            &.invert {
                transform: scale(-1, -1);
            }
        }

        > div.intro-content-head {
            font-size: 1.5rem;
            font-family: Lora-Medium, 'Open Sans', sans-serif;
        }

        > p.into-article {
            font-size: 1rem;
            font-family: Lora-Italic, 'Open Sans', sans-serif;
        }

        > div.button-container {
            display: flex;
            gap: 15px;

            margin: 20px 0;

            > a {
                > * {
                    height: 3rem;
                    padding: 10px 20px;

                    border: none;
                    border-radius: 5px;

                    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);

                    transition: all 0.3s ease 0s;

                    &:hover {
                        box-shadow: 0 15px 20px rgb(4 217 255/ 40%);

                        transform: translateY(-7px);
                    }
                }

                > button.email-me {
                    color: var(--tertiary);
                    font-size: 1rem;
                    font-family: Lora-Semi-Bold-Italic, 'Open Sans', sans-serif;

                    background-color: var(--hl-clr);
                }

                > .download-cv {
                    color: var(--cv-btn-txt-clr);
                    font-size: 1rem;
                    font-family: Lora-Semi-Bold-Italic, 'Open Sans', sans-serif;

                    background-color: var(--cv-btn-clr);
                }
            }
        }
    }

    // unwanted
    > .hero-banner-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 30%;
        margin: auto;

        color: var(--txt-clr);
        font-size: calc(10px + 2vmin);
        font-family: Lora-Semi-Bold-Italic, 'Open Sans', sans-serif;

        background-color: var(--bg-clr);

        > p {
            color: var(--txt-clr);
            font-family: Lora-Medium-Italic, 'Open Sans', sans-serif;
        }
    }
}
