@import '../../global';

div.skills {
    position: relative;

    // background-color: blueviolet;
    scroll-snap-align: start;

    min-width: 90%;
    margin: auto;

    @extend %layout-box-model;

    .skills-container {
        height: 90%;
        width: 90%;
        margin: auto;

        .skills-head {
            color: var(--primary);
            font-family: Lora-Medium, 'Open Sans', sans-serif;
            margin-block: 20px;
        }

        .skills-card-container {
            height: 100%;
            width: 100%;
            gap: 50px;
            margin: auto;

            display: grid;

            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            grid-auto-rows: 200px;

            div.skill-card {
                background-color: white;
                border: 2px solid var(--hl-clr);
                border-radius: 10px;

                > figure {
                    display: flex;
                    flex-direction: column;

                    height: 100%;
                    padding: 10px;
                    > img {
                        height: 80%;
                        max-width: 80%;
                        margin: auto;
                    }

                    > figcaption {
                        text-align: center;
                        color: var(--primary);
                        font-family: Lora-Medium, 'Open Sans', sans-serif;
                    }
                }
            }
        }
    }
}
