@import './Theme';
@import './Fonts';

$space: 10px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    text-align: center;
}

.app-logo {
    height: 40vmin;

    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    color: var(--txt-clr);
    font-size: calc(10px + 2vmin);
    font-family: Lora-Semi-Bold-Italic, 'Open Sans', sans-serif;

    background-color: var(--background-clr);

    p {
        color: var(--txt-clr);
        font-family: Lora-Medium-Italic, 'Open Sans', sans-serif;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
