@font-face {
    font-family: Lora-Bold;
    src: url('./assets/fonts/Lora-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Bold-Italic;
    src: url('./assets/fonts/Lora-Bold-Italic.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Italic;
    src: url('./assets/fonts/Lora-Italic.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Medium;
    src: url('./assets/fonts/Lora-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Medium-Italic;
    src: url('./assets/fonts/Lora-Medium-Italic.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Regular;
    src: url('./assets/fonts/Lora-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Semi-Bold;
    src: url('./assets/fonts/Lora-Semi-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Lora-Semi-Bold-Italic;
    src: url('./assets/fonts/Lora-Semi-Bold-Italic.ttf') format('truetype');
}
