%layout-box-model {
    /* border: 3px solid red; */
    width: 100%;
    min-height: 100%;
    padding: 8% 35px 0;

    isolation: isolate;
    @media (width < 500px) {
        /* height: auto; */
        padding-top: var(--top-offset);
    }
}
