// Light mode
body.light {
    --bg-clr: var(--tertiary);
    --txt-clr: var(--black);

    // home
    --cv-btn-txt-clr: var(--black);
    --cv-btn-clr: var(--tertiary);

    // about-me
    --abt-con-bg-clr: var(--secondary);
    --abt-con-txt-clr: var(--tertiary);

    // projects
    --section-title-txt-clr: var(--tertiary);
}

// Dark mode
body.dark {
    --bg-clr: var(--secondary);
    --txt-clr: var(--tertiary);

    // home
    --cv-btn-txt-clr: var(--tertiary);
    --cv-btn-clr: var(--secondary);

    // about-me
    --abt-con-bg-clr: var(--pale-bg-clr);
    --abt-con-txt-clr: var(--tertiary);

    // projects
    --section-title-txt-clr: var(--secondary);
}

:root {
    // theme clr
    --primary: #ed7d31;
    --secondary: #46434e;
    --tertiary: #fafafa;
    --txt-primary: #45577b;
    --hl-txt-clr: var(--primary);
    --hl-clr: var(--primary);

    // dark mode pale background colour
    --pale-bg-clr: #451e0252;

    // major clr
    --black: #000000;
    --white: #ffffff;
}
