@import '../../global';

div.about-me {
    position: relative;

    display: grid;

    // background-color: blueviolet;
    scroll-snap-align: start;

    @extend %layout-box-model;

    div.about-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));

        width: 90%;
        min-height: 90%;
        margin: auto;

        border: 2px solid var(--primary);
        border-radius: 12px;

        // background-color: var(--abt-con-bg-clr);

        // overflow-y: auto;

        // &::after {
        //     position: absolute;
        //     inset: 5%;
        //     content: '';
        //     z-index: -1;

        //     border: 1px solid var(--primary);
        //     border-radius: 12px;

        //     background-color: var(--abt-con-bg-clr);
        // }

        div.about-animi {
            width: 80%;
            margin: auto;
            @media (width < 1200px) {
                display: none;
            }

            // overflow: hidden;
        }

        div.about-section {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            width: 80%;
            height: 80%;
            margin: auto auto auto 0;
            padding: 10px;

            @media (width < 1200px) {
                width: 100%;
            }

            > h3,
            h2,
            p {
                // color: var(--abt-con-txt-clr);
                font-size: 1rem;
                font-family: Lora-Italic, 'Open Sans', sans-serif;
            }

            > h1 {
                color: var(--primary);
                font-family: Lora-Medium, 'Open Sans', sans-serif;
            }
        }
    }
}
